<div class="minheight">
  <div class="container">
  <%= link_to "Create a new trip", new_trip_path, class:"btn btn-success" %>
  <h1>My trips:</h1>

  <!-- stores all the trips by start date -->


  <ol>
    <% @trips = @trips.sort_by {|obj| obj.start_date} %>
    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip) do  %>
        <li><%= trip.name %> @ <%= trip.start_date %></li>
      <% end %>
    <% end %>
  </ol>
  </div>
</div>
