<% content_for :meta_title, "Add an accommodation" %>
<div class="minheight">
  <div class="container">
    <div class="row">
        <div class="form-stuff">
          <h3 class = "text-center">Add an accommodation to your trip</h3>

          <% if @accommodation.errors.any? %>
            <ul>
              <% @accommodation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <%= render 'form', accommodation: @accommodation %>
      </div>
    </div>
  </div>
</div>
