<div class="fa-4x">
  <span class="fa-layers fa-fw">
    <i class="fas fa-circle" data-fa-transform="shrink-8"  style="color:#388659"></i>
    <i class="fas fa-ticket-alt" data-fa-transform="shrink-11" style="color:white"></i>
  </span>
</div>
