<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Planning to visit space? <i class="fas fa-rocket"></i> Journease!
  </div>

<!--   <div class="footer-copyright">
    <a href="http://res.cloudinary.com/ritocloud/video/upload/v1520004284/Angry_German_Kid.mp4" ><i class="fas fa-rocket myfooter"></i> Travel responsibly</i></a>
  </div> -->
</div>
