<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url('https://fthmb.tqn.com/IAm2mw0-WJRrWWCbrcRZO8D1J-g=/960x0/filters:no_upscale()/GettyImages-573103249-58fa5b6e3df78ca1591cbb5a.jpg');">
  <div class="banner-content">
    <h1>Plan your trip</h1>
    <p>Planning a trip has never been simpler!</p>
    <p>We will remind you about all the stuff that really maters</p>
  </div>
</div>

<div class="banner-bar" style="font-size:1.5em">
    <i class="fas fa-plane banner-icon" style="color:#329F5B"></i>
    <i class="fas fa-car banner-icon" style="color:#241623"></i>
    <i class="fas fa-ship banner-icon" style="color:#D56F3E"></i>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url('http://www.zeepod.io/wp-content/uploads/2017/11/RETIREES1015-family-travel-plans-1.jpg');">
  <div class="banner-content">
    <h1>Add collaborators</h1>
    <p>Your trip buddies will be able to add destinations and activities</p>
    <p>in real time!</p>
  </div>
</div>

<div class="banner-bar" style="font-size:1.5em">
    <i class="fas fa-cloud-upload-alt" style="color:#329F5B"></i>
    <i class="fas fa-cogs" style="color:#241623"></i>
    <i class="fas fa-cloud-download-alt" style="color:#D56F3E"></i>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url('http://eisforevi.com/wp-content/uploads/2017/06/Header.jpg');">
  <div class="banner-content">
    <h1>Let the app guide you through your journey</h1>
    <p>You will be able to access dates, booking references and documents, contacts and many more</p>
    <p>You will also be able to get directions instantly!</p>
  </div>
</div>

<div class="banner-bar" style="font-size:1.5em">
    <i class="fas fa-calendar-check" style="color:#329F5B"></i>
    <i class="fas fa-map-marker-alt" style="color:#241623"></i>
    <i class="fas fa-utensils" style="color:#D56F3E"></i>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 50%), url('http://cdn.skim.gs/images/c_fill,dpr_2.0,f_auto,fl_lossy,h_391,q_auto,w_695/ogejzh1qnjjun1od3hee/tech-items-that-will-improve-your-family-vacation-this-summer');">
  <div class="banner-content">
    <h1>And once you are back home</h1>
    <p>Add your trip pictures in your journey</p>
    <p>and share with your family and friends!</p>
  </div>
</div>

<div class="banner-bar" style="font-size:1.5em">
    <i class="fab fa-pinterest-square" style="color:#329F5B"></i>
    <i class="fas fa-images" style="color:#241623"></i>
    <i class="fab fa-angellist" style="color:#D56F3E"></i>
</div>
