.btn-lg {
  border-radius: 25px;
  font-size: 1em;
}

.btn-sign-up {
width: 100%;
  // margin: 0px 0px 30px 0px;
}

.btn-fixed {
  width: 300px;
  margin: 5px;
}

#fixed-add-button {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  box-shadow: 3px 3px 3px #c6c6c6;
}

.btn-success{
margin-top: 25px;
margin-bottom: 12.5px;
  a{
  color: white;
  font-weight: 700;
    p{
      margin-bottom: 0px;
    }
  }
}
