.card {
  margin-top: 3px;
  color: black;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid #E6E6E6;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: white;
  border-radius: 13px;
  font-weight: bold;

  h4{
    font-weight: bold;
  }

  a{
    font-size: 12px;
    color: black;
  }
}

.map{
  cursor: pointer;
  justify-content: center;
  // width: px;
  margin: 0 auto;
.btn{
  padding: 0;
}
}

.card-map {
  width: 32px;
}

.card-links{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 2;
  // height: 100%;
  cursor: pointer;
  width: 100%;
}

.card-show{
  align-items: center;
  display: flex;
  position: relative;
  // justify-content: space-between;
  border-right: 1px solid #E6E6E6;
  height: 80px;
  // padding-right: 30px;
  width: 280px;
}

.card-logo{
  width: 50px;
  padding-left: 10px;
  // margin: 0 30px;

}

.card-info{
  flex: 1 0 auto;
  margin: 15px;
  line-height: 0.6;

  h4{
    font-size: 16px;
  }

  p{
    font-size: 12px;
  }
}
.modal-footer{
.btn-primary{
  color: white !important;
  padding: 10px;
  border-radius: 10px;
}
}

.modal-header{
  h4{
    text-align: center;
  }
}


.card-link:hover {
  opacity: 0.1;
}

.modal-body{
  p{
    font-size: 12px;
  }
  a{
    font-size: 12px;
    text-decoration: underline;
  }
}

.modal-content{
  border-radius: 20px;
  font-family: 'Open Sans';

}
// .card-description {
//   background-color: white;
//   min-height: 120px;
//   color: black;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 5px 10px;
// }
// .card-description h2 {
//   font-size: 16px;
//   margin-top: 15px !important;
// }
// .card-description p {
//   font-size: 12px;
//   opacity: 0.9;
//   font-weight: regular;
