.logo-journey {
  margin-left: 10px;
  padding-top: 7px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #28587B;
  text-align: center;
}

.logo-accommodation {
  margin-left: 10px;
  padding-top: 7px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #89023E;
  text-align: center;
}

.logo-activity {
  margin-left: 10px;
  padding-top: 7px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #388659;
  text-align: center;
}
