<% content_for :meta_title, "Add a Journey" %>
<div class="minheight">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h3>What journey would you add to your trip?</h3>

        <% if @journey.errors.any? %>
          <ul>
            <% @journey.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= render 'form', journey: @journey %>
      </div>
    </div>
  </div>
</div>
