<% content_for :meta_title, "Add a Journey" %>
<div class="minheight">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="form-stuff">
         <h3 class = "text-center">Add a journey to your trip</h3>
      <% if @journey.errors.any? %>
        <ul>
          <% @journey.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= render 'form', journey: @journey %>
      </div>
    </div>
  </div>
  <p class="flatpickr-start-date" style= "visibility: hidden"><%= @trip.start_date %></p>
  <p class="flatpickr-end-date" style= "visibility: hidden"><%= @trip.end_date %></p>
</div>
