<h1><%= @journey.name %></h1>
<%= link_to "Edit", edit_trip_journey_path(@trip, @journey) %>
<%= link_to "Delete", trip_journey_path(@trip, @journey),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
